<div class="mt-4 col-3">
    <div class="list-group p-2 m-1">
        <p><%= link_to "Your Listing", rooms_path(@room), class: "text-dark" %>
        <p><%= link_to "Your Reservation", "#", class: "text-dark" %>
        <p><%= link_to "Your Trip", "#", class: "text-dark" %>
    </div>
</div>