 <div class="container">
    <div class="row">
        <%= render "layouts/sidebar" %> 
        <div class="mt-4 col-9">
            <div class="card">
                <div class="card-header text-white bg-success">Amenities</div>
                <div class="card-body">
                    <div class="container">
                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="checkbox" class="custom-control-input">
                                        <label class="custom-control-label">TV</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="checkbox" class="custom-control-input">
                                        <label class="custom-control-label">Kitchen</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="checkbox" class="custom-control-input">
                                        <label class="custom-control-label">Internet</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="checkbox" class="custom-control-input">
                                        <label class="custom-control-label">Shampoo</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="checkbox" class="custom-control-input">
                                        <label class="custom-control-label">Air Conditioning</label>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



