 <div class="container">
    <div class="row">
        <%= render "layouts/sidebar" %> 
        <div class="mt-4 col-9">
            <div class="card">
                <div class="card-header text-white bg-success">Location</div>
                <div class="card-body">
                    <div class="container">
                        <form>
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" class="form-control" id="location" placeholder="What is your address?">
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
