 <div class="container">
    <div class="row">
        <%= render "layouts/sidebar" %> 
        <div class="mt-4 col-9">
            <div class="card">
                <div class="card-header text-white bg-success">Photos</div>
                <div class="card-body">
                    <div class="container">
                        <form class="mx-auto">
                            <div class="form-group">
                                <div class="form-group col-4 mx-auto">
                                    <input class="form-control text-center" placeholder="Select photos">
                                </div>
                            </div>
                            <div class="mx-auto" style="width: 115px;">
                                <button type="submit" class="btn btn-primary">Add photos</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
