@import "bootstrap";
@import "font-awesome";
@import "toastr";

.avatar-sm {
  width: 40px;
}

// FORMS
.form-listing {
  margin-bottom: 25px;
}

.list-control {
  border-radius: 2px;
  height: 4rem;
}

.form-listing input {
  height: 45px;
  border: 1px solid #00A699;
}

.form-listing textarea {
  border: 1px solid #00A699;
}

.form-listing select {
  width: 100%;
  color: #565a5c;
  background-color: white;
  border: 1px solid #00A699;
  border-radius: 2px;
  padding: 10px;
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari & Chrome */
}

.select:before {
  content: '\25bc';
  font-size: 1.5em;
  position: absolute;
  color: #00A699;
  top: 38px;
  right: 30px;
  transform: scale(0.94, 0.62);
}

.thumb {
  width:100px;
  height:100px;
  object-fit:cover;
}

.line-through{
  text-decoration: line-through;
}

.map-image{
  height :100px;
  width :150px;
}

#map{
  width :730px; 
  height: 400px;
  position: relative;
}

#content{
  height :100px;
  width :150px;
}